/*#627894 #A0AEC1 #466289 #DBE8F9 #FA6121 #FFB739*/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse {
	background-color: #27303b;
}

.navbar-inverse .navbar-brand {
	color: #cfd6de;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #9d9d9d;
}

.page-header {
	margin: 20px 0 10px;
	border-bottom: 1px solid #A0AEC1;
}

img {
	border: 1px solid #ddd;
}

h1 {
	font-size: 1.6em;
	color: #233144;
}

.banner {
	font-size: 1.6em;
	color: #767676;
	font-weight: 100;
}

.inline-sub {
	font-size: 0.7em;
	color: #627894;
}

h2 {
	color: #963a13;
	font-size: 1.5em;
	margin-top: 1.5em;
}

h2:first-of-type {
	margin-top: 0em;
}

h2.cite {
	font-size: 1.3em;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

h2.cite em {
	font-size: 1.15em;
}

h3 {
 font-size: 1.4em;
 line-height: 1.5em;
 margin-bottom: 0.25em;
}

h2 + h3 {
	margin-top: 0em;
}

.portfolio-item {
    margin-bottom: 25px;
}

p {
	font-size: 1.15em;
	line-height: 1.7em;
}

ul {
	padding-left: 1em;
	font-size: 1.05em;
	max-width: 65em;
}

#clips li {
    margin-bottom: 0.75em;
}

li {
	margin-bottom: 0.5em;
}

li a {
	color: #466289;
	font-weight: 600;
}

footer {
	background-color: #27303b;
	padding: 1.5em 1em 1em 2em;
    margin: 50px 0 0 0;
}

footer small {
	color: #cfd6de;
}


